/* Ajoutez ces styles à votre feuille de style CSS */

/* Style pour le conteneur de la case à cocher */
.form-check {
  display: flex;
  align-items: center;
}

/* Marge entre la case à cocher et l'étiquette */
.form-check-label {
  margin-left: 8px;
}

/* Style optionnel pour changer la couleur de fond de la case à cocher */
.checkbox-success .form-check-input:checked {
  background-color: #28a745;
  border-color: #28a745;
}
